.body
  .body__pickup
    %img(id="mypic"
          alt="test"
          src="http://sushitaira.jp/wp-content/uploads/photo_counter.jpg")
  .body__box
    .body__accsess
      .body__accsess-map
        %iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1367.4887741506448!2d139.72968572817902!3d35.66235910961259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b778cec7e35%3A0x96e524bbccc17cc0!2z6a6oIOmvm-iJrw!5e0!3m2!1sja!2sjp!4v1576739815760!5m2!1sja!2sjp" width="400" height="300" frameborder="3" style="border:3;" allowfullscreen="")
      .body__accsess-info
        お気をつけてお越しください。
    .body__movie
      .body__movie-youtube
        %iframe(src="https://www.youtube.com/embed/4fiivT0RXR4" frameborder="3" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture")
      .body__movie-info
        旬な食材をご提供致します。
