.wrapper
  = render './head_bar'
  = render 'review'
  = render './footer'
  -# = render @messages
  -# = render "@review"
  -# = render @reviews
  -# = render partial: 'review', collection: @reviews  