.body
  .menu
    .menu__fee
      %p
        おまかせ料理一本
      %P
        〜23,000円〜
    .menu__img
      %img(src="https://livedoor.blogimg.jp/kyah2004/imgs/f/a/fa90d05f.png")
    .menu__img-list
      .menu__img2
        %img(src="http://sushitaira.jp/wp-content/uploads/photo_drink.jpg" width="236" height="273" alt="ドリンクの画像")
      .menu__img3
        %img(src="https://tblg.k-img.com/restaurant/images/Rvw/50270/640x640_rect_50270796.jpg" width="236" height="273" alt="ドリンクの画像")
      .menu__img4
        %img(src="http://art64.photozou.jp/pub/325/1865325/photo/93150930_624.jpg" width="236" height="273" alt="ドリンクの画像")
      
    .menu__img-list2
      .menu__img5
        %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3UQ3FubnSNFaI2UJpPP5o1LSoAzvo2_ZUhlzb3O2by3Hp5-xL&s" width="236" height="273" alt="ドリンクの画像")
      .menu__img6
        %img(src="https://uds.gnst.jp/rest/img/cr6f8c8x0000/s_0n6c.jpg?t=1528450772" width="236" height="273" alt="ドリンクの画像")
      .menu__img7
        %img(src="https://tblg.k-img.com/restaurant/images/Rvw/33188/320x320_square_33188227.jpg" width="236" height="273" alt="ドリンクの画像")
      
    .menu__img-list3
      .menu__img8
        %img(src="http://meshi.yon.tokyo/wp-content/uploads/2018/09/640x640_rect_50725296.jpg" width="236" height="273" alt="ドリンクの画像")
      .menu__img9
        %img(src="https://img.retty.me/img_repo/l/01/7882250.jpg" width="236" height="273" alt="ドリンクの画像")
      .menu__img10
        %img(src="https://cdn.sarah30.com/reviews/photos/000/178/716/x_large/2b9157565995ecd7f47bd2825eb4b312f867c310.jpg" width="236" height="273" alt="ドリンクの画像")

    .menu__text
      旬の食材を職人が提供させていただきます。存分にご堪能下さい。

  .review
    .review-info
      %p
        口コミはこちらから
    .review-link
      = link_to review_index_path do
        %i.fa.fa-smile      

