.header{
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background-color: rgb(120, 20, 20);
  height: 100px;
  width: 100vw;
  line-height: 100px;
    .left-content{
      display: flex;
      color: white;
      &__name{
        font-size: 50px;
        margin-left: 50px;
        a{
          text-decoration: none;
          color: white;
        }
      }
      &__word{
        font-size: 20px;
        margin-left: 15px;
      }
    }
    .right-content{
      display: flex;
      justify-content: space-around;
      width: 200px;
      a{
        color: white;
        font-size: 25px;
      }
    }
}