.top-content
  ご予約はこちらから

  #id_calendar
    -# %img(src="https://qiita-user-contents.imgix.net/https%3A%2F%2Fqiita-image-store.s3.amazonaws.com%2F0%2F302077%2F9a5c1eef-bbb8-9ab8-bec1-f492804391f6.png?ixlib=rb-1.2.2&auto=compress%2Cformat&gif-q=60&s=208fcc2379e69c7eb81e6aeb485e81a2")

