.body
  .roppongi
    .roppongi__title
      〜六本木  鯛良〜
    .roppongi__img
      %img(src="http://sushitaira.jp/wp-content/uploads/photo_counter.jpg")

    .roppongi__text
      %p
        六本木 鯛良は、職人が厳選した季節の食材をはじめ、
      %p
        金沢、唐津、北海道など産地直送の魚を、
      %p
        国産米と特別に配合した三種の赤酢を使用したシャリで握る一流の江戸前鮨を提供致します。
      %p
        丹精込めたネタと、上品で香り豊かな鮨飯の絶妙な握りをぜひご堪能下さい。
      %p
        お席は、ゆったりとしたカウンター席と、離れの個室がございます。  
      %p
        六本木の夜景とともに洗練された落ち着いた空間でぜひお楽しみ下さい。
      %p
        日常を忘れ、移ろいゆく四季を五感で堪能していただき、至福のひと時をお過ごし頂けますよう、
      %p
        これまで以上に「六本木 鯛良」らしいお料理とおもてなしでお迎えさせていただきます。
      %p
        皆様のご来店、ご予約をスタッフ一同、心よりお待ち申し上げております。

  .sirogane
    .sirogane__title
      〜白金  鯛良〜
    .sirogane__img
    %img(src="http://sushitaira.jp/shirokane/wp-content/uploads/space_counter.jpg" width="851" height="281" alt="店内の雰囲気")
    .sirogane__text
      %p
      白金 鯛良は、四季折々の素材の持ち味を大切にし、
      %p
        歴史と伝統に培われた江戸前鮨の真髄をご堪能いただけます。
      %p
        吟味された鮨と、研ぎ澄まされた日本料理が身を結ぶ至福の数々。
      %p
        お客様に大切なお時間をお過ごし頂けるよう、心を込めたおもてなしを致します。
      %p  
        店内は、檜の一枚板を使用したカウンターのみの贅沢な造りになっております。
      %p
        ネタや米はもちろんのこと、水、炭にもこだわり、
      %p  
        水はまろやかさが引き立つ南部鉄で沸かし、炭は備長炭を使用しています。 
      %p
        閑静な白金の街並みに合うゆったりとした上質な時間の中で
      %p  
        「白金 鯛良」でしか味わえない究極の江戸前鮨をご堪能ください。
      %p  
        皆様のご来店、ご予約をスタッフ一同、心よりお待ち申し上げております。

  .yakitori
    .yakitori__title
      〜焼き鳥　平良〜
    .yakitori__img
      %img(src="https://tblg.k-img.com/resize/660x370c/restaurant/images/Rvw/73810/73810824.jpg?token=363d1ae&api=v2" alt="7.カウンター.jpg")
    .yakitori__text
      %p
        六本木・白金にある『鮨・鯛良』から派生した『焼き鳥平良』
      %p
        職人が厳選した食材で、和をお造りいたします。
      %p  
        今回、プロデュースするメインの食材となるのは『鶏』。
      %p  
        職人のこだわる四季を感じて頂けるよう空間にもこだわり、彩りました。
      %p  
        皆様から愛される、価値ある場所で
      %p  
        平良らしいお料理路おもてなしを是非ご堪能下さい。
